@import "tailwindcss";

@theme {
    --primary-color: #e34d0a;
    --success-color: #10b981;
    --blue-color: #1083b9;
    --yellow-color: #b9ae10;
    --prg-color: #969696;

    --title: Arial, Helvetica, sans-serif

    
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }